/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Jul-2021, 9:56:10 am
    Author     : my pc
*/

.navbar-header{
    margin-left: 40px;
}

.content{
    min-width: 60px;
}

.banner-img{
    padding-bottom: 50px;
    margin: 80px 80px 80px 80px;
    text-align: center;
    color: #f8f8f8;
    background-image:url("img/back.png");
    background-size:cover;
    height: 680px;
}

#center{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:50%;
}

.inner-bannerimg{
    padding-top: 12%;
    width:80%;
    margin:auto;
    align-content: center;
}

.banner-content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    background-position:center;
    font-size: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #111111;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.signupbox{
    background-color: black;
    color: white;
    margin-right: 20px;
    float: right;
    
}

.or{
    text-align: center;
    color:white;
}

.boxcen{
    text-align: center;
 
}